{% extends 'base.html.twig' %}

{% block body %}
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            <h1>Meals list</h1>
        
            <table>
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Carbohydrates</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for meal in meals %}
                    <tr>
                        <td><a href="{{ path('meal_show', { 'id': meal.id }) }}">{{ meal.id }}</a></td>
                        <td>{{ meal.carbohydrates }}</td>
                        <td>
                            <ul>
                                <li>
                                    <a href="{{ path('meal_show', { 'id': meal.id }) }}">show</a>
                                </li>
                                <li>
                                    <a href="{{ path('meal_edit', { 'id': meal.id }) }}">edit</a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        
            <ul>
                <li>
                    <a href="{{ path('meal_new') }}">Create a new meal</a>
                </li>
            </ul>
        {% else %}
            {{ 'you must be connected to access your meals or add one.'|trans|capitalize }}
            <p><a href="{{ path('fos_user_security_login') }}">{{ 'go to login page'|trans|capitalize }}</a></p>
        {% endif %}
{% endblock %}
