{% extends 'DiabeteHelperBundle::layout.html.twig' %}

{% block title %}
    {{ 'meals'|trans|capitalize }} {{ parent() }}
{% endblock title %}

{% block breadcrumb %}
    {{ parent() }}
    <li><a href="{{ path('meal_index') }}">{{ 'meals'|trans|capitalize }}</a></li>
{% endblock breadcrumb %}

{% block body %}
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            <h1>Meals list</h1>
        
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>{{ 'Carbohydrates'|trans|capitalize}}</th>
                        <th>{{ 'Bolus'|trans|capitalize}}</th>
                        <th>{{ 'Actions'|trans|capitalize}}</th>
                    </tr>
                </thead>
                <tbody>
                {% for meal in meals %}
                    <tr>
                        <td>{{ meal.carbohydrate }}</td>
                        <td>{{ meal.estimatedMealBolus }}</td>
                        <td>
                            <ul>
                                <li>
                                    <a href="{{ path('meal_show', { 'id': meal.id }) }}">show</a>
                                </li>
                                <li>
                                    <a href="{{ path('meal_edit', { 'id': meal.id }) }}">edit</a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        
            <ul>
                <li>
                    <a href="{{ path('meal_new') }}">Create a new meal</a>
                </li>
            </ul>
        {% else %}
            {{ 'you must be connected to access your meals or add one.'|trans|capitalize }}
            <p><a href="{{ path('fos_user_security_login') }}">{{ 'go to login page'|trans|capitalize }}</a></p>
        {% endif %}
{% endblock %}
