{% extends 'DiabeteHelperBundle::layout.html.twig' %}

{% block title %}
    {{ 'add meal'|trans|capitalize }} {{ parent() }}
{% endblock title %}

{% block breadcrumb %}
    {{ parent() }}
    <li><a href="{{ path('meal_index') }}">{{ 'meals'|trans|capitalize }}</a></li>
    <li><a href="{{ path('meal_new') }}">{{ 'add meal'|trans|capitalize }}</a></li>
{% endblock breadcrumb %}

{% block body %}
    <h1>Meal creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('meal_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
