{% extends 'DiabeteHelperBundle::layout.html.twig' %}

{% block title %}
    {{ 'blood sugar levels'|trans|capitalize }} {{ parent() }}
{% endblock title %}

{% block breadcrumb %}
    {{ parent() }}
    <li><a href="{{ path('glycemie_index') }}">{{ 'glycemias'|trans|capitalize }}</a></li>
{% endblock breadcrumb %}

    {% block body %}
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            <a class="btn btn-success" href="{{ path('glycemie_new') }}">{{ 'add a new glycemia'|trans|capitalize }}</a>

            <h1>{{ 'blood sugar levels list'|trans|capitalize }}</h1>

            <table class="table table-striped">
                <thead>
                <tr>
                    <th>{{ 'date/hour of'|trans|capitalize }}<br/>{{ 'the blood sugar test'|trans }}</th>
                    <th>{{ 'glycemia'|trans|capitalize }}</th>
                    <th>{{ 'acetone level'|trans|capitalize }}</th>
                    <th>{{ 'before/after'|trans|capitalize }}<br/>{{ 'meal'|trans }}</th>
                    <th>{{ 'physical activity'|trans|capitalize }}</th>
                    <th>{{ 'actions'|trans|capitalize }}</th>
                </tr>
                </thead>
                <tbody>
                {% for glycemie in glycemies %}
                    <tr>
                        <td>{% if glycemie.dateGlycemie %}{{ glycemie.dateGlycemie|date('H:i') }}
                                <br/>{{ glycemie.dateGlycemie|date('d/M/y') }}{% endif %}</td>
                        {% if glycemie.tauxGlycemie >= 1.80 or glycemie.tauxGlycemie <= 0.70 %}
                            <td><b>{{ glycemie.tauxGlycemie }} g/L</b></td>
                        {% else %}
                            <td>{{ glycemie.tauxGlycemie }} g/L</td>
                        {% endif %}
                        <td>{{ glycemie.tauxAcetone }}</td>
                        <td>{{ glycemie.repas }}</td>
                        <td>{{ glycemie.activite|capitalize }}</td>
                        <td class="btn-group-vertical" role="group" aria-label="...">
                            {#<a class="btn btn-default" href="{{ path('glycemie_show', { 'idGlycemie': glycemie.idGlycemie }) }}">Afficher</a>#}
                            <button type="button" class="btn btn-default" id="{{ glycemie.idGlycemie }}"
                                    onclick="showGlycemieModal(id)" data-toggle="modal" data-target="#showGlycemie"
                                    data-dateGlycemie="{{ glycemie.dateGlycemie|date('d/M/Y H:i') }}"
                                    data-tauxGlycemie="{{ glycemie.tauxGlycemie }}"
                                    data-tauxAcetone="{{ glycemie.tauxAcetone }}"
                                    data-repas="{{ glycemie.repas }}"
                                    data-activite="{{ glycemie.activite }}"
                                    data-remarque="{{ glycemie.remarque }}"
                                    data-estimatedCorrectionBolus="{{ glycemie.estimatedCorrectionBolus }}"
                            >{{ 'show'|trans|capitalize }}
                            </button>
                            <a class="btn btn-default"
                               href="{{ path('glycemie_edit', { 'idGlycemie': glycemie.idGlycemie }) }}">{{ 'modify'|trans|capitalize }}</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            {{ 'you must be connected to access your glycemias or add one.'|trans|capitalize }}
            <p><a href="{{ path('fos_user_security_login') }}">{{ 'go to login page'|trans|capitalize }}</a></p>
        {% endif %}
    {% endblock body %}

    {% block footer %}
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            {#Modal boostrap#}

            <!-- Modal -->
            <div class="modal fade" id="showGlycemie" tabindex="-1" role="dialog" aria-labelledby="showGlycemie">
                <div class="modal-dialog modal-sm" role="document">
                    <div class="modal-content">
                        <div class="modal-header" id="showGlycemieHeader">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                        aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="showGlycemieTitle"
                                style="text-align: center">{{ 'error'|trans|capitalize }}</h4>
                        </div>
                        <div class="modal-body" id="showGlycemieBody">
                        </div>
                        <div class="modal-footer" id="showGlycemieFooter">
                            <button type="button" class="btn btn-default"
                                    data-dismiss="modal">{{ 'close'|trans|capitalize }}</button>
                        </div>
                    </div>
                </div>
            </div>
            {#Modal boostrap end#}

            <script>
                function showGlycemieModal(id) {
                    var glycemie = document.getElementById(id);

                    var dateGlycemie = glycemie.dataset.dateglycemie;
                    var tauxGlycemie = glycemie.dataset.tauxglycemie;
                    var tauxAcetone = glycemie.dataset.tauxacetone;
                    var repas = glycemie.dataset.repas;
                    var activite = glycemie.dataset.activite;
                    var remarque = glycemie.dataset.remarque;
                    var estimatedCorrectionBolus = glycemie.dataset.estimatedcorrectionbolus;

                    if (tauxGlycemie != '') {
                        tauxGlycemie = tauxGlycemie + ' g/L'
                    }
                    if (tauxAcetone != '') {
                        tauxAcetone = '{{ 'acetone level'|trans|capitalize }} : ' + tauxAcetone + ' g/L'
                    }
                    if (repas != '') {
                        repas = '<br/>{{ 'Moment of the blood sugar level'|trans }} : ' + repas
                    }
                    if (activite) {
                        activite = '<br/>{{ 'physical activity'|trans|capitalize }} : ' + activite
                    }
                    if (remarque) {
                        remarque = '<br/>{{ 'note'|trans }} : ' + remarque
                    }
                    if (estimatedCorrectionBolus) {
                        estimatedCorrectionBolus = '<br/>{{ 'estimated bolus correction'|trans|capitalize }} : ' + estimatedCorrectionBolus;
                    }

                    document.getElementById('showGlycemieTitle').innerHTML = 'Glycémie du ' + dateGlycemie;
                    document.getElementById('showGlycemieBody').innerHTML = '<p> {{ 'Blood sugar level'|trans }} : ' + tauxGlycemie +
                            '<br/>' + tauxAcetone +
                            '<br/>' + repas +
                            activite +
                            '<br/>' + remarque +
                            '<br/>' + estimatedCorrectionBolus +
                            '</p>';
                    //document.getElementById('showGlycemieFooter').innerHTML += '<button type="button" class="btn btn-primary">Save changes</button>';
                }
            </script>
        {% else %}
        {% endif %}
    {% endblock footer %}
