{% extends 'DiabeteHelperBundle::layout.html.twig' %}

{% block breadcrumb %}
    {{ parent() }}
    <li><a href="{{ path('glycemie_index') }}">Glycémies</a></li>

{% endblock breadcrumb %}

{% block title %}
    Afficher glycémie {{ parent() }}
{% endblock title %}

{% block body %}
    <h1>Glycemie</h1>

    <table>
        <tbody>
        <tr>
            <th>Idglycemie</th>
            <td>{{ glycemie.idGlycemie }}</td>
        </tr>
        <tr>
            <th>Tauxglycemie</th>
            <td>{{ glycemie.tauxGlycemie }}</td>
        </tr>
        <tr>
            <th>Tauxacetone</th>
            <td>{{ glycemie.tauxAcetone }}</td>
        </tr>
        <tr>
            <th>Dateglycemie</th>
            <td>{% if glycemie.dateGlycemie %}{{ glycemie.dateGlycemie|date('Y-m-d H:i:s') }}{% endif %}</td>
        </tr>
        <tr>
            <th>Repas</th>
            <td>{{ glycemie.repas }}</td>
        </tr>
        <tr>
            <th>Activite</th>
            <td>{{ glycemie.activite }}</td>
        </tr>
        <tr>
            <th>Remarque</th>
            <td>{{ glycemie.remarque }}</td>
        </tr>
        </tbody>
    </table>
    <p>
        <a class='btn btn-default' href="{{ path('glycemie_index') }}">Retour à l'index des glycémies</a>

        <a class="btn btn-warning" href="{{ path('glycemie_edit', { 'id': glycemie.idGlycemie }) }}">Modifier</a>
    </p>
    <p>
        {{ form_start(delete_form) }}
        <input class="btn btn-danger" type="submit" value="Supprimer la glycémie">
        {{ form_end(delete_form) }}
    </p>

{% endblock %}
