{% trans_default_domain 'FOSUserBundle' %}

<div>
    {{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit' } }) }}
    {{ form_widget(form) }}
    
    {# START Custom form for insulin ratios#}
    <div class="well">
        <h3>{{ 'glucid/insulin ratios'|trans|capitalize }}</h3>
        <div>
            <ol id="dates" class="with-form">
                {% set carbsInsulinRatio = app.user.carbsInsulinRatio|json_decode %}
                {% for ratio in carbsInsulinRatio %}
                    <li data-hourStart="{{ ratio.hourstart }}"
                        data-hourEnd="{{ ratio.hourend }}" data-ratio="{{ ratio.ratio }}">
                        Heure start : {{ ratio.hourstart }} / heure end : {{ ratio.hourend }} /
                        ratio : {{ ratio.ratio }}
                    </li>
                {% endfor %}
            </ol>
        </div>
        <div id="formPlagesHoraires">
            <div class="form-group">
                <label class="control-label">{{ 'hour start'|trans|capitalize }}</label>
                <input type="time" name="hourStart" id="hourStart" disabled class="form-control"/>
            </div>
            <div class="form-group">
                <label class="control-label">{{ 'hour end'|trans|capitalize }}</label>
                <input type="time" name="hourEnd" id="hourEnd" max="23:59" class="form-control"/>
            </div>
            <div class="form-group">
                <label class="control-label">{{ 'ratio'|trans|capitalize }}</label>
                <div id="errorRatio" class="alert alert-warning fade in hidden" role="alert">{{ "this field can't be empty"|trans|capitalize }}</div>
                <input type="number" name="ratio" id="ratio" min="0" step="0.01" class="form-control"
                       placeholder="{{ 'insulin units / 10g of carbs'|trans|capitalize }}"/>
            </div>
            <button id="addPlage" type="button" class="btn btn-default">Ajouter une plage</button>
        </div>
    </div>
    {# END Custom form for insulin ratios#}
    <div>
        <input class="btn btn-warning" type="submit" value="{{ 'profile.edit.submit'|trans }}"/>
    </div>
    {{ form_end(form) }}
</div>

