{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit' } }) }}
    {{ form_widget(form) }}
<div>
    <div>
        <ol id="dates">
            {% set glucidInsulinRatio = app.user.glucidInsulinRatio|json_decode %}
            {% for ratio in glucidInsulinRatio %}
                <li data-hourStart="{{ ratio.hourstart }}"
                    data-hourEnd="{{ ratio.hourend }}" data-ratio="{{ ratio.ratio }}">
                    Heure start : {{ ratio.hourstart }} / heure end : {{ ratio.hourend }} /
                    ratio : {{ ratio.ratio }}
                </li>
            {% endfor %}
        </ol>
    </div>
    <div class="fields">
        <form action="/ajaxTreatment.php" method="POST" id="formPlagesHoraires">
            <input type="time" name="hourStart" id="hourStart" disabled class="form-control"/>
            <input type="time" name="hourEnd" id="hourEnd" max="23:59" class="form-control"/>
            <input type="number" name="ratio" id="ratio" min="0" step="0.05" class="form-control"/>
            <button id="addPlage" type="button" class="btn btn-default">Ajouter une plage</button>
            <button type="submit" class="btn btn-success">Valider</button>
        </form>
    </div>
</div>
<div>
    <input class="btn btn-warning" type="submit" value="{{ 'profile.edit.submit'|trans }}"/>
</div>
{{ form_end(form) }}
