{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
    {% include "FOSUserBundle:Profile:show_content.html.twig" %}

    <p>
    <h3>General informations</h3>
    Your weight : {{ user.weight }}<br/>
    Your height : {{ user.height }}<br/>

    {% set age = "now"|date("Y") - user.yearofbirth %}
    Your age (only with your year of birth) : {{ age }}<br/>
    Your blood type : {{ user.bloodtype }}<br/>

    <h3>Diabete informations</h3>
    Your last Hb1c result : {{ user.lastHb1c }}<br/>
    The date of your last Hb1c exam : {{ user.lastHb1cdate|date("M/d/Y") }}<br/>
    Diabete Type : {{ user.typeDiabete }}<br/>
    Traitement Type : {{ user.typeTraitement }}
    </p>
{% endblock fos_user_content %}

