{% extends "FOSUserBundle::layout.html.twig" %}

{% block title %}{{ 'my account'|trans|capitalize }}{{ parent() }}{% endblock title %}

{% block fos_user_content %}
    {% include "FOSUserBundle:Profile:show_content.html.twig" %}

    <p>
    <h3>General informations</h3>
    {{ 'your weight'|trans|capitalize }} : {{ user.weight }}<br/>
    {{ 'Your height'|trans|capitalize }} : {{ user.height }}<br/>

    {% if user.yearofbirth is not null %}
        {% set age = date('now').diff(date(user.yearofbirth)) %}

        {{ 'your age'|trans|capitalize }} : {{ age.y }} <br/>
    {% endif %}
    {{ 'your blood type'|trans|capitalize }} : {{ user.bloodtype }}<br/>

    <h3>Diabete informations</h3>
    {{ 'your last Hb1c result'|trans|capitalize }} : {{ user.lastHb1c }}<br/>
    {% if user.lastHb1cdate is not null %}
        {{ 'the date of your last Hb1c exam'|trans|capitalize }} : {{ user.lastHb1cdate|date("M/d/Y") }}<br/>
    {% endif %}
    {{ 'diabete type'|trans|capitalize }} : {{ user.typeDiabete }}<br/>
    {{ 'traitement type'|trans|capitalize }} : {{ user.typeTraitement }}
    <hr>
    {{ 'insulin sensivity'|trans|capitalize }} : {{ user.insulinSensivity }}<br/>
    {{ 'glycemic objective for corrections'|trans|capitalize }} : {{ user.glycemicObjective }}
    </p>
    
    <div class="well">
        <h3>{{ 'glucid/insulin ratios'|trans|capitalize }}</h3>
        <ol id="dates">
            {% set carbsInsulinRatio = app.user.carbsInsulinRatio|json_decode %}
            {% for ratio in carbsInsulinRatio %}
                <li data-hourStart="{{ ratio.hourstart }}"
                    data-hourEnd="{{ ratio.hourend }}" data-ratio="{{ ratio.ratio }}">
                    Heure start : {{ ratio.hourstart }} / heure end : {{ ratio.hourend }} /
                    ratio : {{ ratio.ratio }}
                </li>
            {% endfor %}
        </ol>
    </div>
{% endblock fos_user_content %}

