{% extends 'DiabeteBundle::layout.html.twig' %}

{% block title %}
    Ajouter glycémie {{ parent() }}
{% endblock title %}

{% block breadcrumb %}
    {{ parent() }}
    <li><a href="{{ path('glycemie_index') }}">Glycémies</a></li>
    <li><a href="{{ path('glycemie_new') }}">Ajouter Glycémie</a></li>
{% endblock breadcrumb %}


{% block body %}
    <h1>Ajout d'une glycémie</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <input class="btn btn-default" type="submit" value="Ajouter glycémie"/>
    {{ form_end(form) }}

    {#    <ul>
            <li>
                <a href="{{ path('glycemie_index') }}">Back to the list</a>
            </li>
        </ul>
    #}
{% endblock %}
