<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="{{ app.request.getLocale() }}">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="content-type" xml:lang="{{ app.request.getLocale() }}" content="application/xhtml+xml; charset=utf-8"/>
    {# Redirect user if javascript is disabled #}
    
    {# break the site if no JS #}
    {% if app.request.attributes.get('_route') != 'diabete_helper_homepage' %}
        <noscript><meta http-equiv="refresh"content="0; url={{ path('diabete_helper_homepage') }}"></noscript>
    {% endif %}
    <link rel="icon" type="image/png" href="{{ asset('favicon.ico') }}"/>

    <link type="text/plain" rel="author" href="{{ url('diabete_helper_homepage') }}humans.txt"/>

    <script type="application/ld+json">
    {
        "@context":"http://schema.org",
        "@type":"WebSite",
        "url":"{{ url('diabete_helper_homepage') }}"
    }

    </script>

    <!--START IMPORT BOOSTRAP-->
    <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet" type="text/css">
    <!-- Stylesheet that'll allow you to overwrite bootstrap / create personalised code -->
    <link href="{{ asset('css/style.css') }}" rel="stylesheet" type="text/css">

    <script src="{{ asset('js/jquery-3.1.1.min.js') }}"></script>
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
    <!--END IMPORT BOOTSTRAP & JQUERY -->
    <script type="text/javascript" src="{{ asset('js/scripts_persos.js') }}"></script>


    <title>{% block title %}{% endblock %}</title>
</head>


<body>
<header>
    {% block header %}
        <nav class="navbar navbar-default navbar-static-top">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ path('diabete_helper_homepage') }}">{{ site_name }}</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        {% if app.request.attributes.get('_route') == 'glycemie_index' %}
                            <li class="active"><a href="{{ path('glycemie_index') }}"><span
                                            class="glyphicon glyphicon-tint"></span> {{ 'glycemias'|trans|capitalize }}
                                    <span class="sr-only">(current)</span></a>
                            </li>
                        {% else %}
                            <li><a href="{{ path('glycemie_index') }}"><span class="glyphicon glyphicon-tint"></span>
                                    {{ 'glycemias'|trans|capitalize }}</a></li>
                        {% endif %}
                        {% if app.request.attributes.get('_route') == 'statistiques' %}
                            <li class="active"><a href="{{ path('statistiques') }}"><span
                                            class="glyphicon glyphicon-stats"></span> {{ 'statistics'|trans|capitalize }}
                                    <span
                                            class="sr-only">(current)</span></a></li>
                        {% else %}
                            <li><a href="{{ path('statistiques') }}"><span class="glyphicon glyphicon-stats"></span>
                                    {{ 'statistics'|trans|capitalize }}</a></li>
                        {% endif %}
                    </ul>

                    {#
                    <form class="navbar-form navbar-left">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Search">
                        </div>
                        <button type="submit" class="btn btn-default">Submit</button>
                    </form>
                    #}

                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                   aria-haspopup="true" aria-expanded="false"><span
                                            class="glyphicon glyphicon-tags"></span> {{ 'shortcuts'|trans|capitalize }}
                                    <span
                                            class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    {#
                                    <li><a href="#">Another action</a></li>
                                    <li><a href="#">Something else here</a></li>
                                    <li role="separator" class="divider"></li>
                                    #}
                                    <li>
                                        <a href="{{ path('glycemie_new') }}">{{ 'add a new glycemia'|trans|capitalize }}</a>
                                    </li>
                                    {#
                                    <li role="separator" class="divider"></li>
                                    <li><a href="#">One more separated link</a></li>
                                    #}
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                   aria-haspopup="true" aria-expanded="false"><span
                                            class="glyphicon glyphicon-wrench"></span> {{ 'my account'|trans|capitalize }}
                                    <span
                                            class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="{{ path('fos_user_profile_show') }}">{{ 'show my account'|trans|capitalize }}</a>
                                    </li>
                                    <li>
                                        <a href="{{ path('fos_user_profile_edit') }}">{{ 'modify my account'|trans|capitalize }}</a>
                                    </li>
                                    <li>
                                        <a href="{{ path('fos_user_security_logout') }}">{{ 'logout'|trans|capitalize }}</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>

                    {% else %}

                        <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                   aria-haspopup="true" aria-expanded="false">Mon compte <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="{{ path('fos_user_security_login') }}">{{ 'sign in'|trans|capitalize }}</a>
                                    </li>
                                    <li>
                                        <a href="{{ path('fos_user_registration_register') }}">{{ 'create an account'|trans|capitalize }}</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>

                    {% endif %}
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>

    {% endblock header %}
</header>

<div class="container">

    {% block breadcrumb %}
    {% endblock breadcrumb %}
    </ol>

    {% block statusMessages %}
    {% endblock statusMessages %}

    {% block body %}
    {% endblock body %}
</div>


<footer>
    {% block footer %}{% endblock footer %}
</footer>


</body>
</html>
