{% extends "@DiabeteHelper/layout.html.twig" %}

{% block title %}
    {{ 'home'|trans|capitalize }} {{ parent() }}
{% endblock title %}


{% block header %}
    {{ parent() }}
{% endblock header %}

{% block breadcrumb %}
    {{ parent() }}
{% endblock breadcrumb %}

{% block body %}
    <div>
        <p class="bg-danger">{{ 'This website is under active developpement, you can test it but datas are not guaranteed to be secured yet. Anything you store here belong to me in the developpement phase.'|trans }}</p>
        <p>
            {{ 'Accompaniment website for diabetics allowing you to store you blood sugar levels and others important informations about your diabete, and get a lot of statistic in order to have a better view on your results, and ideas about how to improve your treatment.'|trans}}
        </p>
        <p>
            {{ "You'll also find all you need about your food, since an insulinotherapy part is coming soon."|trans }}
        </p>


        <div>
            <ul>
                <li>{{ 'easy stats about your blood sugar levels'|trans|capitalize }}</li>
                <li>{{ 'mobile datas : find your stats anywhere (mobile, computer, tablets, ...)'|trans|capitalize }}</li>
                <li>{{ 'a community forum'|trans|capitalize }}</li>
                <li>{{ 'secured data'|trans|capitalize }}</li>
            </ul>
        </div>
    </div>
{% endblock body %}
