{% extends 'DiabeteHelperBundle::layout.html.twig' %}

{% block title %}
    Statistiques {{ parent() }}
{% endblock title %}

{% block breadcrumb %}
    {{ parent() }}
    <li><a href="{{ path('statistiques') }}">Statistiques</a></li>
{% endblock breadcrumb %}

{% block body %}

    {{ dump() }}
    {{ form(form) }}

    <div id="div_chart" style="max-width: inherit"></div>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        {{ gc_draw(linechart, 'div_chart') }}
    </script>

{% endblock body %}