{% extends "::base.html.twig" %}

{% block title %}- DiabHelper {{ parent() }}{% endblock %}


{% block header %}
    {{ parent() }}
{% endblock header %}

{% block breadcrumb %}
    <ol class="breadcrumb">
    {{ parent() }}
    <li><a href="{{ path('diabete_helper_homepage') }}">{{ 'home'|trans|capitalize }}</a></li>
{% endblock breadcrumb %}